<div style="padding: 5% 20% 5% 20%;">
    <mat-card class="generalLoginForm">
      <mat-card-title >Welcome Back!</mat-card-title>
      <mat-card-content>
        <form [formGroup]="reactiveForm">
          <mat-form-field appearance="outline">
            <mat-label>Username</mat-label>
            <input matInput placeholder="Simple placeholder" formControlName="username" required>
            <mat-error *ngIf="reactiveForm.get('username').invalid">Please enter username</mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput placeholder="Simple placeholder" type="password"
                   formControlName="password" required>
            <mat-error *ngIf="reactiveForm.get('password').invalid">Please enter password</mat-error>
          </mat-form-field>

          <div fxLayout="row" fxLayoutAlign="space-between center">
            <mat-checkbox>Remember Me</mat-checkbox>
            <a href="">Forgot Password?</a>
          </div>

          <button mat-raised-button color="primary" (click)="login()"
                  [disabled]="reactiveForm.invalid">Save</button>

          <div>Don't have an account? <a routerLink="">Click here to
              create one</a></div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
